a.sk-btn,
button.sk-btn,
.sk-btn {
  font-family: var(--sk-font-primary);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 13px;
  letter-spacing: 1px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  @include transition;
  @include fontSmooth;

  &--primary {
    background-image: var(--sk-base-gradient);
    color: var(--sk-color-navy);
    border-radius: 0.3125rem;
    text-transform: uppercase;
    height: 42px;
    min-width: calc(var(--sk-button-width) * 0.7);

    &-white {
      background-image: none;
      background-color: var(--sk-color-white);
      color: var(--sk-color-navy);
    }
  }

  &--secondary {
    color: var(--sk-color-white);
    background: none;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    padding: 8px 24px;
    border-radius: 0.25rem;
    border: 1px solid #0000;

    &:hover,
    :active {
      color: var(--sk-color-navy);
      background: var(--sk-color-transparent-white);
      border: 1px solid var(--sk-color-navy);
    }
  }

  &--disabled,
  &[disabled],
  &[readonly] {
    opacity: 0.6;
    cursor: not-allowed;
  }
}

//guttenberg dynamic icons (arrow or add &'--withicon'), sizes and colors (gradient or add &'--white')
.wp-block-button {
  width: fit-content;

  .wp-block-button__link {
    font-family: var(--sk-font-primary);
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 13px;
    letter-spacing: 1px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    background-image: var(--sk-base-gradient);
    color: var(--sk-color-navy);
    border-radius: 0.3125rem;
    text-transform: uppercase;
    height: var(--sk-button-height);
    min-width: calc(var(--sk-button-width) - 3px);
    position: relative;
    padding-right: calc(var(--sk-button-height) + 10px);

    &--small {
      min-width: calc(var(--sk-button-width) - 60px);
    }

    &--large {
      min-width: calc(var(--sk-button-width) - 5px);
    }

    &--white {
      background-image: none;
      background-color: var(--sk-color-white);
    }

    &::before {
      content: '';
      height: 30px;
      width: 2px;
      background-color: var(--sk-color-transparent-blue);
      position: absolute;
      right: var(--sk-button-height);
      z-index: 1;
    }

    &::after {
      content: '';
      display: block;
      height: var(--sk-button-height);
      width: var(--sk-button-height);
      background-image: url("data:image/svg+xml,%3Csvg width='15' height='27' viewBox='0 0 15 27' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='button-arrow-icon.svg' clip-path='url(%23clip0_346_3872)'%3E%3Cg id='Layer 2'%3E%3Cg id='Layer 1'%3E%3Cpath id='Vector' d='M2.35405 26.9771L0.5 25.2618L11.0694 13.7969L0.5 2.33204L2.35405 0.629333L14.5 13.7969L2.35405 26.9771Z' fill='%2303356D'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_346_3872'%3E%3Crect width='14' height='26.3351' fill='white' transform='translate(0.5 0.629333)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
      background-repeat: no-repeat;
      background-position: center;
      position: absolute;
      right: 0;
      transition: transform 300ms linear;
    }

    &--withsquare::after {
      background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='button-all-icon.svg' clip-path='url(%23clip0_346_6091)'%3E%3Cg id='Layer 2'%3E%3Cg id='Layer 1'%3E%3Cpath id='Vector' d='M3.5275 0.796875H0.5V3.83313H3.5275V0.796875Z' fill='%2303356D'/%3E%3Cpath id='Vector_2' d='M9.01383 0.796875H5.98633V3.83313H9.01383V0.796875Z' fill='%2303356D'/%3E%3Cpath id='Vector_3' d='M14.5002 0.796875H11.4727V3.83313H14.5002V0.796875Z' fill='%2303356D'/%3E%3Cpath id='Vector_4' d='M3.5275 6.27441H0.5V9.31066H3.5275V6.27441Z' fill='%2303356D'/%3E%3Cpath id='Vector_5' d='M9.01383 6.27441H5.98633V9.31066H9.01383V6.27441Z' fill='%2303356D'/%3E%3Cpath id='Vector_6' d='M14.5002 6.27441H11.4727V9.31066H14.5002V6.27441Z' fill='%2303356D'/%3E%3Cpath id='Vector_7' d='M3.5275 11.7607H0.5V14.797H3.5275V11.7607Z' fill='%2303356D'/%3E%3Cpath id='Vector_8' d='M9.01383 11.7607H5.98633V14.797H9.01383V11.7607Z' fill='%2303356D'/%3E%3Cpath id='Vector_9' d='M14.5002 11.7607H11.4727V14.797H14.5002V11.7607Z' fill='%2303356D'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_346_6091'%3E%3Crect width='14' height='14' fill='white' transform='translate(0.5 0.796875)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
    }

    &--withsquare.wp-block-button__link {
      &:hover,
      &:active {
        &::after {
          transform: rotate(90deg);
          transition: all 300ms ease-in-out;
        }
      }
    }

    &--withplusign::after {
      background-image: url("data:image/svg+xml,%3Csvg width='43' height='43' viewBox='0 0 50 43' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='pseudo'%3E%3Cpath id='Vector' d='M25.75 11.5C26.0732 11.5 26.3832 11.6284 26.6118 11.857C26.8403 12.0855 26.9688 12.3955 26.9688 12.7188V20.0312H34.2812C34.6045 20.0312 34.9145 20.1597 35.143 20.3882C35.3716 20.6168 35.5 20.9268 35.5 21.25C35.5 21.5732 35.3716 21.8832 35.143 22.1118C34.9145 22.3403 34.6045 22.4688 34.2812 22.4688H26.9688V29.7812C26.9688 30.1045 26.8403 30.4145 26.6118 30.643C26.3832 30.8716 26.0732 31 25.75 31C25.4268 31 25.1168 30.8716 24.8882 30.643C24.6597 30.4145 24.5312 30.1045 24.5312 29.7812V22.4688H17.2188C16.8955 22.4688 16.5855 22.3403 16.357 22.1118C16.1284 21.8832 16 21.5732 16 21.25C16 20.9268 16.1284 20.6168 16.357 20.3882C16.5855 20.1597 16.8955 20.0312 17.2188 20.0312H24.5312V12.7188C24.5312 12.3955 24.6597 12.0855 24.8882 11.857C25.1168 11.6284 25.4268 11.5 25.75 11.5Z' fill='%2303356D'/%3E%3C/g%3E%3C/svg%3E");

      &:hover,
      &:active {
        &::after {
          transform: rotate(180deg);
          transition: all 300ms linear;
        }
      }
    }

    &:hover,
    &:active {
      &::after {
        transform: translateX(8px);
        transition: all 300ms linear;
      }
    }

    &.is-loading {
      filter: grayscale(0.6);
      cursor: not-allowed;
    }
  }
}

.is-style-small--plus,
.wp-block-button:not(.is-style-primary).wp-block-button:not(.is-style-small--square) {
  .wp-block-button__link {
    min-width: calc(var(--sk-button-width) - 60px);

    @include breakpoint-down(xxs) {
      min-width: calc(var(--sk-button-width) - 90px);
    }

    &::after {
      background-image: url("data:image/svg+xml,%3Csvg width='43' height='43' viewBox='0 0 50 43' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='pseudo'%3E%3Cpath id='Vector' d='M25.75 11.5C26.0732 11.5 26.3832 11.6284 26.6118 11.857C26.8403 12.0855 26.9688 12.3955 26.9688 12.7188V20.0312H34.2812C34.6045 20.0312 34.9145 20.1597 35.143 20.3882C35.3716 20.6168 35.5 20.9268 35.5 21.25C35.5 21.5732 35.3716 21.8832 35.143 22.1118C34.9145 22.3403 34.6045 22.4688 34.2812 22.4688H26.9688V29.7812C26.9688 30.1045 26.8403 30.4145 26.6118 30.643C26.3832 30.8716 26.0732 31 25.75 31C25.4268 31 25.1168 30.8716 24.8882 30.643C24.6597 30.4145 24.5312 30.1045 24.5312 29.7812V22.4688H17.2188C16.8955 22.4688 16.5855 22.3403 16.357 22.1118C16.1284 21.8832 16 21.5732 16 21.25C16 20.9268 16.1284 20.6168 16.357 20.3882C16.5855 20.1597 16.8955 20.0312 17.2188 20.0312H24.5312V12.7188C24.5312 12.3955 24.6597 12.0855 24.8882 11.857C25.1168 11.6284 25.4268 11.5 25.75 11.5Z' fill='%2303356D'/%3E%3C/g%3E%3C/svg%3E");
    }

    &:hover,
    &:active {
      &::after {
        transform: rotate(90deg);
        transition: all 300ms ease-in-out;
      }
    }
  }
}

.is-style-small--square {
  .wp-block-button__link {
    min-width: calc(var(--sk-button-width) - 60px);

    @include breakpoint-down(xxs) {
      min-width: calc(var(--sk-button-width) - 90px);
    }

    &::after {
      background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='button-all-icon.svg' clip-path='url(%23clip0_346_6091)'%3E%3Cg id='Layer 2'%3E%3Cg id='Layer 1'%3E%3Cpath id='Vector' d='M3.5275 0.796875H0.5V3.83313H3.5275V0.796875Z' fill='%2303356D'/%3E%3Cpath id='Vector_2' d='M9.01383 0.796875H5.98633V3.83313H9.01383V0.796875Z' fill='%2303356D'/%3E%3Cpath id='Vector_3' d='M14.5002 0.796875H11.4727V3.83313H14.5002V0.796875Z' fill='%2303356D'/%3E%3Cpath id='Vector_4' d='M3.5275 6.27441H0.5V9.31066H3.5275V6.27441Z' fill='%2303356D'/%3E%3Cpath id='Vector_5' d='M9.01383 6.27441H5.98633V9.31066H9.01383V6.27441Z' fill='%2303356D'/%3E%3Cpath id='Vector_6' d='M14.5002 6.27441H11.4727V9.31066H14.5002V6.27441Z' fill='%2303356D'/%3E%3Cpath id='Vector_7' d='M3.5275 11.7607H0.5V14.797H3.5275V11.7607Z' fill='%2303356D'/%3E%3Cpath id='Vector_8' d='M9.01383 11.7607H5.98633V14.797H9.01383V11.7607Z' fill='%2303356D'/%3E%3Cpath id='Vector_9' d='M14.5002 11.7607H11.4727V14.797H14.5002V11.7607Z' fill='%2303356D'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_346_6091'%3E%3Crect width='14' height='14' fill='white' transform='translate(0.5 0.796875)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
    }

    &:hover,
    &:active {
      &::after {
        transform: rotate(90deg);
        transition: all 300ms ease-in-out;
      }
    }
  }
}

.gform_footer input[type=submit] {
  @extend .sk-btn;
  @extend .wp-block-button__link;
}
