<hr>
<h3>List</h3>
<hr>

<h3>UL</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, optio!</p>
<ul>
  <li>Lorem ipsum <small>dolor</small> sit amet.</li>
  <li>Lorem ipsum dolor sit amet.</li>
  <li>Lorem ipsum dolor sit amet.</li>
  <li>Lorem ipsum dolor sit amet.</li>
  <li>Lorem ipsum dolor sit amet.</li>
</ul>

<hr class="sk-hr-dashed">

<h3>OL</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, optio!</p>

<ol>
  <li>Lorem ipsum dolor sit amet.</li>
  <li>Lorem ipsum dolor sit amet.</li>
  <li>Lorem ipsum dolor sit amet.</li>
  <li>Lorem ipsum dolor sit amet.</li>
  <li>Lorem ipsum dolor sit amet.</li>
</ol>
