<hr>
<h3>Paragraphs</h3>
<hr>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti dolores dolorum eveniet, fuga molestias, non
  possimus quaerat quisquam tempore ullam vel veritatis vero voluptate. Autem esse hic nisi odio provident! Consequatur
  eos ex quia ratione repudiandae tempora ullam veniam! Accusantium animi deserunt, est fugit illo nobis pariatur
  quibusdam voluptates? Officia?</p>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi beatae cupiditate dolor ipsa ipsam nobis omnis
  quaerat recusandae ut voluptatibus!</p>

<p>Strong - <strong>Lorem ipsum.</strong></p>
<p>Small - <small>Lorem ipsum.</small></p>
<p>Italic - <i>Lorem ipsum.</i></p>
<p>Color primary - <span class="sk-typo-mod-color-primary">Lorem ipsum.</span></p>
<p>Color second - <span class="sk-typo-mod-color-second">Lorem ipsum.</span></p>
<p>Color third - <span class="sk-typo-mod-color-third">Lorem ipsum.</span></p>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda corporis cum cupiditate dolore enim minima quae.
  Aspernatur, consequatur ea enim eum facere harum impedit ipsa maiores, optio perferendis, reprehenderit tempore.</p>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum sunt vel veniam? Consectetur dolorum esse
  exercitationem illo similique ullam unde veritatis vitae. Accusamus, aut corporis cum delectus ex excepturi inventore
  iure magnam magni non quia quibusdam repudiandae unde ut velit!</p>
