<hr>
<h3>Titles</h3>
<hr>

<h1 class="sk-typo-mod-font-900 sk-typo-mod-color-primary">H1. Title heading</h1>
<h1 class="sk-typo-mod-font-600">H1. Title heading</h1>
<h1 class="sk-typo-mod-font-300">H1. Title heading</h1>
<h1 class="sk-typo-mod-font-300">Lorem ipsum <span class="sk-typo-mod-font-600">dolor sit amet,</span> consectetur
  adipisicing elit <span
    class="sk-typo-mod-font-900 sk-typo-mod-color-primary">Beatae dolor eum maiores</span><span
    class="sk-typo-mod-font-600">.</span></h1>


<hr class="hr-dashed">

<h2 class="sk-typo-mod-color-third">H2. Title heading</h2>
<h2 class="sk-typo-mod-font-600">H2. Title heading</h2>
<h2 class="sk-typo-mod-font-600">Lorem ipsum dolor sit amet, <span class="sk-typo-mod-font-800 sk-typo-mod-color-third">consectetur adipisicing elit.</span>
</h2>


<hr class="hr-dashed">


<h3 class="sk-typo-mod-color-second">H3. Title heading</h3>
<h3 class="sk-typo-mod-color-second">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, minima.</h3>


<hr class="hr-dashed">


<h4 class="sk-typo-mod-color-second">H4. Title heading</h4>
<h4 class="sk-typo-mod-color-second">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, quidem.</h4>


<hr class="hr-dashed">


<h5 class="sk-typo-mod-color-third">H5. Title heading</h5>
<h5 class="sk-typo-mod-color-third">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio, sed.</h5>


<hr class="hr-dashed">


<h6>H6. Title heading</h6>
<h6>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime, non.</h6>

<h6 class="sk-subheading">Subheding class .sk-subheading</h6>
<h6>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime, non.</h6>
