{% extends "base.twig" %}

{% block content %}

  <div class="sk-container">

    <div class="sk-wp-editor">
      <h2>Typography with class .sk-wp-editor</h2>
      {% include '_typography.twig' %}
    </div>

    {% include '_form.twig' %}

  </div>

{% endblock %}
