@import "resources/scss/theme/mixins/all";

.single-disease-hero-section {
  padding: 50px 0;

  h1 {
    margin: 0 0 50px;
  }

  .flex-holder {
    display: flex;
    align-items: flex-start;

    @include breakpoint-down(md) {
      flex-direction: column;
    }

    .left-col {
      width: 65%;

      @include breakpoint-down(md) {
        width: 100%;
      }

      .info-block {
        width: 100%;
        margin: 0 0 30px;

        &:last-of-type {
          margin: 0;
        }

        h3 {
          margin: 0 0 30px;
        }

        .info-block-holder {
          display: flex;

          .icon {
            margin-right: 30px;

            svg {
              display: block;
              width: 100%;
              min-width: 50px;
              max-width: 50px;
            }
          }

          .text {
            p {
              margin: 0 0 15px;
            }

            ul {
              margin: 15px 0;
              padding-left: 20px;

              li {
                margin: 0 0 10px;

                &:last-of-type {
                  margin: 0;
                }
              }

              ul {
                padding-left: 15px;
              }
            }
          }
        }
      }
    }

    .right-col {
      width: 35%;
      min-width: 400px;
      background: var(--sk-third-gradient);
      border-radius: 10px;
      color: white;
      padding: 40px 30px;
      margin-left: 40px;

      @include breakpoint-down(md) {
        margin-left: 0;
        width: 100%;
        min-width: 0;
        margin-top: 50px;
      }

      @include breakpoint-down(xs) {
        margin-top: 40px;
        padding: 30px 20px;
      }

      h3 {
        margin: 0 0 40px;
        text-align: center;
        color: white;
      }

      .epidemiology {
        .block {
          display: flex;
          align-items: flex-start;
          margin: 0 0 50px;
          position: relative;

          @include breakpoint-down(xs) {
            margin: 0 0 40px;
          }

          &::after {
            content: '';
            height: calc(100% - 20px);
            width: 2px;
            background: white;
            position: absolute;
            top: 70px;
            left: 35px;

            @include breakpoint-down(xs) {
              height: calc(100% - 18px);
              top: 59px;
              left: 29px;
            }
          }

          &:last-of-type {
            margin: 0;

            &::after {
              display: none;
            }
          }

          .icon {
            margin-right: 20px;
            width: 70px;
            min-width: 70px;
            height: 70px;
            border: 2px solid white;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;

            @include breakpoint-down(xs) {
              width: 60px;
              min-width: 60px;
              height: 60px;
            }

            svg {
              display: block;
              width: 100%;
              min-width: 40px;
              height: 40px;

              @include breakpoint-down(xs) {
                min-width: 35px;
                height: 35px;
              }
            }
          }

          .text {
            .sub-description {
              border-top: 1px solid white;
              margin-top: 15px;
              padding-top: 15px;
            }
          }
        }
      }
    }
  }
}

.single-disease-content {
  padding: 50px 0 80px;

  @include breakpoint-down(xs) {
    padding: 50px 0;
  }

  .info-block {
    margin-bottom: 60px;

    &:last-of-type {
      margin-bottom: 0;
    }

    .title-holder {
      margin-bottom: 30px;

      .strain-title {
        margin: 0 0 10px;
      }

      .flex-holder {
        display: flex;
        align-items: center;

        @include breakpoint-down(xs) {
          flex-direction: column;
          align-items: flex-start;
        }

        h3 {
          margin-right: 20px;

          @include breakpoint-down(xs) {
            margin: 0 0 20px;
          }
        }

        .vaccines-in-pipeline {
          width: 50px;
          height: 50px;
          min-width: 50px;
          border-radius: 50%;
          border: 2px solid var(--sk-color-primary);
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: 20px;
          font-weight: 700;

          @include breakpoint-down(xs) {
            margin: 0 0 10px;
          }
        }
      }
    }

    .blocks {
      display: flex;
      flex-wrap: wrap;
      border: 1px solid var(--sk-color-primary);
      border-radius: 10px;

      @include breakpoint-down(sm) {
        flex-direction: column;
      }

      .block {
        width: 33.33%;
        padding: 40px 20px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;

        @include breakpoint-down(xs) {
          padding: 30px 20px;
        }

        &:last-of-type::after {
          display: none;
        }

        &::after {
          content: '';
          position: absolute;
          top: 0;
          bottom: 0;
          right: 0;
          margin: auto;
          height: 70%;
          width: 1px;
          background-color: var(--sk-color-primary);
        }

        @include breakpoint-down(sm) {
          width: 100%;

          &::after {
            height: 1px;
            width: 70%;
            left: auto;
            right: auto;
            top: auto;
            bottom: 0;
            margin: 0;
          }
        }

        @include breakpoint-down(xs) {
          &::after {
            width: 90%;
          }
        }

        &.technology-platforms {
          h4 {
            color: #f5a623;
          }
        }

        &.development-phases {
          h4 {
            color: #d94747;
          }
        }

        &.trial-population {
          h4 {
            color: #88c32f;
          }
        }

        .icon {
          margin-bottom: 20px;

          svg {
            display: block;
            width: 100%;
            max-width: 100px;

            @include breakpoint-down(xs) {
              max-width: 80px;
            }
          }
        }

        h4 {
          margin-bottom: 5px;
        }
      }
    }
  }

  .sources {
    text-align: right;
    word-break: break-all;
  }
}
