<div class="search-panel" id="search-panel">
  <div class="inputs-group">
    {% include 'parts/components/search-form.twig' %}
  </div>
  <div class="close-button">
    <span class="close-button__element"></span>
  </div>
</div>
