<hr>
<h5>Blockquote</h5>
<ul>
  <li>sk-blockquote</li>
</ul>
<hr>

<blockquote class="sk-blockquote">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis deserunt dignissimos distinctio, explicabo illo
    libero natus nostrum odio quae saepe, veritatis voluptas. Dolore minus numquam voluptates! A culpa eaque facere iure
    maxime qui quisquam repudiandae! Debitis deleniti earum, odio optio rem ut. Aliquam animi aspernatur aut delectus,
    doloribus fuga temporibus.</p>
</blockquote>
