<div class="sk-wrapper sk-wrapper--column">

  <hr>
  <h3>Buttons</h3>
  <ul>
    <li>sk-btn</li>
    <li>sk-btn--primary</li>
    <li>sk-btn--secondary</li>
    <li>sk-btn--disabled</li>
    <li>sk-btn--full-w</li>
    <li>sk-btn--auto</li>
    <li>sk-btn--lg</li>
    <li>sk-btn--md</li>
    <li>sk-btn--sm</li>
    <li>sk-btn--rectangle</li>
    <li>sk-btn--shadow</li>
  </ul>
  <hr>

  <button class="sk-btn">Basic</button>
  <br>
  <button class="sk-btn sk-btn--primary">Primary</button>
  <br>
  <button class="sk-btn sk-btn--secondary">Secondary</button>
  <br>
  <button class="sk-btn sk-btn--primary sk-btn--disabled">Disabled</button>
  <br>
  <button class="sk-btn sk-btn--secondary sk-btn--auto">Auto width</button>
  <br>
  <button class="sk-btn sk-btn--primary sk-btn--lg">lg</button>
  <br>
  <button class="sk-btn sk-btn--secondary sk-btn--md">md</button>
  <br>
  <button class="sk-btn sk-btn--primary sk-btn--sm">sm</button>
  <br>
  <button class="sk-btn sk-btn--secondary sk-btn--full-w">full width</button>
  <br>
  <button class="sk-btn sk-btn--primary sk-btn--rectangle">rectangle</button>
  <br>
  <button class="sk-btn sk-btn--primary sk-btn--shadow">shadow</button>
  <br>
</div>
