<hr>
<h3>List</h3>
<ul>
  <li>sk-list</li>
</ul>
<hr>

<ul class="sk-list">
  <li>Lorem ipsum <small>dolor</small> sit amet.</li>
  <li>Lorem ipsum dolor sit amet.</li>
  <li>Lorem ipsum dolor sit amet.</li>
  <li>Lorem ipsum dolor sit amet.</li>
  <li>Lorem ipsum dolor sit amet.</li>
</ul>
