{% extends "base.twig" %}

{% block content %}

  <div class="sk-container">

    <h1>Components</h1>

    {% include '_buttons.twig' %}
    {% include "_blockquote.twig" %}
    {% include "_list.twig" %}
  </div>

{% endblock %}
