@import "../../resources/scss/theme/base/breakpoints";
@import "../../resources/scss/theme/mixins/breakpoints-mixin";

.vaccines-video-popup {
  &-link {
    display: flex;
    width: 100px;
    height: 100px;
    background-image: url("../../img/play-btn.svg");
    background-size: cover;
    background-position: center;
    transition: all 0.3s ease-in-out;
    border: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;

    &:hover {
      transform: scale(1.02);
      opacity: 0.85;
    }

    @include breakpoint-down(md) {
      width: 80px;
      height: 80px;
    }
  }
}
